<div fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="10">
  <table style="width: 100%; margin-top: 100px;" mat-table [dataSource]="dynamicVariables" class="mat-elevation-z8"
         fxFlex="15">

    <!-- Variable Column -->
    <ng-container matColumnDef="variableName">
      <th style="background-color: #ccc; font-weight: bold; font-size: 14px; text-align: center; color: black"
          mat-header-cell *matHeaderCellDef> Переменная
      </th>
      <td style="text-align: center;" mat-cell *matCellDef="let element"> {{element.variableName}} </td>
    </ng-container>

    <!-- Value Column -->
    <ng-container matColumnDef="value">
      <th style="background-color: #ccc; font-weight: bold; font-size: 14px; text-align: center; color: black"
          mat-header-cell *matHeaderCellDef> Значение
      </th>
      <td style="text-align: center;" mat-cell *matCellDef="let element"> {{element.value}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <div fxFlex="85"></div>
</div>
