

<div style="width: 80%;margin: auto; padding: 20px 0 20px;">
  <form>
    <div fxLayout="row" fxLayoutAlign="space-between start">
      <div fxFlex="58">
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <div fxFlex="60">
<!--            <mat-form-field style="width: 100%" class="example-full-width" appearance="outline">-->
<!--              <input matInput placeholder="" name="subject" [(ngModel)]="messageBody.subject" value="">-->
<!--            </mat-form-field>-->

            <mat-form-field class="example-full-width mb-3">
              <mat-label>Тема</mat-label>
              <input matInput [(ngModel)]="messageBody.subject" name="subject" value="">
            </mat-form-field>
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <div fxFlex="60">
<!--            <mat-form-field style="width: 100%" class="example-full-width" appearance="outline">-->
<!--              <input matInput placeholder="" name="text" [(ngModel)]="messageBody.text" value="">-->
<!--            </mat-form-field>-->

            <mat-form-field class="example-full-width mb-3">
              <mat-label>Тело письма</mat-label>
              <input matInput [(ngModel)]="messageBody.text" name="text" value="">
            </mat-form-field>
          </div>
        </div>

        <div style="margin: 20px 0">
          <p>Содержимое вложение .pdf</p>
          <div style="margin: 10px 0" fxLayout="row" fxLayoutAlign="space-between">
            <div fxFlex="48" fxLayout="column">
              <!--                <mat-form-field class="example-full-width" appearance="legacy">-->
              <!--                  <mat-label>Заголовок на каз.</mat-label>-->
              <!--                  <input name="head" [(ngModel)]="fileKz.head" matInput placeholder="" value="Заключение">-->
              <!--                </mat-form-field>-->
<!--              <mat-form-field style="width: 100%" class="example-full-width" appearance="outline">-->
<!--                <mat-label>Заголовок на каз.</mat-label>-->
<!--                <input name="headKz"  matInput placeholder="" [(ngModel)]="messageBody.headKz" >-->
<!--              </mat-form-field>-->
              <mat-form-field class="example-full-width mb-3">
                <mat-label>Заголовок на каз.</mat-label>
                <input matInput [(ngModel)]="messageBody.headKz" name="headKz" value="">
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Текст</mat-label>
                <textarea matInput
                          name="bodyKz"
                          [(ngModel)]="messageBody.bodyKz"
                          cdkTextareaAutosize
                          cdkAutosizeMinRows="20"
                          cdkAutosizeMaxRows="30"></textarea>
              </mat-form-field>
            </div>
            <div fxFlex="48" fxLayout="column">
              <mat-form-field class="example-full-width mb-3">
                <mat-label>Заголовок на рус.</mat-label>
                <input matInput [(ngModel)]="messageBody.head" name="head" value="">
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Текст</mat-label>
                <textarea matInput
                          name="body"
                          [(ngModel)]="messageBody.body"
                          cdkTextareaAutosize
                          cdkAutosizeMinRows="20"
                          cdkAutosizeMaxRows="30"></textarea>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
      <div fxFlex="38">
        <table style="width: 100%; margin-top: 100px;" mat-table [dataSource]="dynamicVariables" class="mat-elevation-z8">

          <!-- Variable Column -->
          <ng-container matColumnDef="variableName">
            <th style="background-color: #ccc; font-weight: bold; font-size: 14px; text-align: center; color: black" mat-header-cell *matHeaderCellDef> Переменная </th>
            <td style="text-align: center;" mat-cell *matCellDef="let element"> {{element.variableName}} </td>
          </ng-container>

          <!-- Value Column -->
          <ng-container matColumnDef="value">
            <th style="background-color: #ccc; font-weight: bold; font-size: 14px; text-align: center; color: black" mat-header-cell *matHeaderCellDef> Значение </th>
            <td style="text-align: center;" mat-cell *matCellDef="let element"> {{element.value}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </div>
    <button style="justify-self: right"  mat-button color="primary">Download</button>
  </form>
</div>
