<div class="contact-details">
  <div class="modalHeader">
    <div class="editRowModal">
      <div class="modalHeader clearfix">
        <div class="modal-about contact-header">
          <div class="contact-details-heading">
            <div class="contact-details-name mb-2">Детали пользователя</div>
          </div>
        </div>
      </div>
    </div>
    <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div  mat-dialog-content>
    <mat-card-content>
      <div class="contact-details-field">
        <b>KATO code:</b>
        <div class="contact-detail-info"> {{respondent.katoCode}}
        </div>
      </div>
      <div class="contact-details-field">
        <b>BIN:</b>
        <div class="contact-detail-info"> {{respondent.binIin}}
        </div>
      </div>
      <div class="contact-details-field">
        <b>Respondent Name:</b>
        <div class="contact-detail-info"> {{respondent.respondentName}}
        </div>
      </div>
      <div class="contact-details-field">
        <b>EMAIL:</b>
        <!--          <i class="material-icons-two-tone color-icon">email</i>-->
        <div class="contact-detail-info"> {{respondent.email}}
        </div>
      </div>
      <div class="contact-details-field">
        <b>Phone Number:</b>
        <!--          <i class="material-icons-two-tone color-icon">phonelink_ring</i>-->
        <div  class="contact-detail-info">
          <span
            *ngFor="let phoneNumber of getPhoneNumbersList(); let last = last">{{phoneNumber + (last ? '' : ',')}}</span>
        </div>
      </div>
    </mat-card-content>
  </div>
</div>
