<div class="contact-details">
  <div mat-dialog-title>
    {{selectedScheduleViolation.formName + " - " + selectedScheduleViolation.periodName}}

  </div>
  <div mat-dialog-content>
    <mat-card >
      <div fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="10">
          <mat-form-field fxFlex="45">
            <mat-label>Дата начала</mat-label>
            <input [(ngModel)]="reportGeneration.dateBefore" name="start-date" matInput [owlDateTimeTrigger]="date1"
                   [owlDateTime]="date1">
            <mat-icon matSuffix [owlDateTimeTrigger]="date1" class="date-icon">today</mat-icon>
            <owl-date-time #date1></owl-date-time>
          </mat-form-field>
          <mat-form-field fxFlex="45">
            <mat-label>Дата конца</mat-label>
            <input [(ngModel)]="reportGeneration.dateAfter" name="end-date" matInput [owlDateTimeTrigger]="date2"
                   [owlDateTime]="date2">
            <mat-icon matSuffix [owlDateTimeTrigger]="date2" class="date-icon">today</mat-icon>
            <owl-date-time #date2></owl-date-time>
          </mat-form-field>
      </div>

      <div fxLayout="row" fxLayoutAlign="space-between start">
        <div>
          <p>
            <mat-checkbox [(ngModel)]="reportGeneration.statusEnabled">Включить фильтр по статусу</mat-checkbox>
          </p>
          <mat-form-field appearance="fill" [hidden]="!reportGeneration.statusEnabled">
            <mat-label>Статус</mat-label>
            <mat-select [(ngModel)]="reportGeneration.selectedStatus" multiple>
              <mat-select-trigger>
                {{reportGeneration.selectedStatus ? reportGeneration.selectedStatus[0] : ''}}
                <span *ngIf="reportGeneration.selectedStatus?.length > 1">
        (+{{reportGeneration.selectedStatus.length - 1}} {{reportGeneration.selectedStatus.length === 2 ? 'other' : 'others'}})
      </span>
              </mat-select-trigger>
              <mat-option *ngFor="let status of statusList" [value]="status">{{status}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div>
          <p>
            <mat-checkbox [(ngModel)]="reportGeneration.binEnabled">Включить фильтр по БИН</mat-checkbox>
          </p>
          <mat-form-field appearance="legacy" [hidden]="!reportGeneration.binEnabled">
            <mat-label>БИН</mat-label>
            <input [(ngModel)]="reportGeneration.orgBIN" matInput placeholder="" value="">
          </mat-form-field>
        </div>
      </div>

    </mat-card>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button color="warn" (click)="dialogRef.close()">Закрыть</button>
    <button mat-raised-button color="primary" (click)="generate()">Формировать</button>
  </div>
</div>
