<div class="row " style="width: 100%">
  <div class="col-xl-4 col-lg-12">
    <div class="table-responsive">
      <div class="materialMailingTableHeader">
        <div class="row">
          <div class="col-8">
            <ul class="header-buttons-left ms-0">
              <li class="dropdown">
                <h2>
                  <strong>Period</strong></h2>
              </li>
              <li class="dropdown m-l-20">
                <label><i class="material-icons search-icon">search</i></label>
                <input placeholder="Search" name="search" type="text" #filter class="browser-default search-field"
                       aria-label="Search box">
              </li>
            </ul>
          </div>
          <div class="col-4">
            <ul class="header-buttons">
              <li>
                <div class="icon-button-demo">
                  <button mat-mini-fab color="primary" (click)="refresh()">
                    <mat-icon class="col-white">refresh</mat-icon>
                  </button>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <mat-table #table [dataSource]="scheduleViolations" matSort class="mat-cell" style="width: 99%">

        <!-- ID Column -->
        <!--        <ng-container matColumnDef="id">-->
        <!--          <mat-header-cell *matHeaderCellDef >Id</mat-header-cell>-->
        <!--          <mat-cell *matCellDef="let row">{{row.id}}</mat-cell>-->
        <!--        </ng-container>-->

        <ng-container matColumnDef="formName">
          <mat-header-cell *matHeaderCellDef>Форма</mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.formName}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="periodName">
          <mat-header-cell *matHeaderCellDef>Период</mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.periodName}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="sendDate">
          <mat-header-cell *matHeaderCellDef>Дата</mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.sendDate}}</mat-cell>
        </ng-container>

        <!-- actions -->
        <ng-container matColumnDef="actions">
          <mat-header-cell class="pr-0" *matHeaderCellDef>Действие</mat-header-cell>
          <mat-cell *matCellDef="let row; let i=index;" class="pr-0">
            <button mat-icon-button color="accent" class="btn-tbl-edit" (click)="$event.stopPropagation()"
                    (click)="viewDetail(row)">
              <mat-icon aria-label="View" class="col-white">insert_drive_file</mat-icon>
            </button>
            <button mat-icon-button color="accent" class="btn-tbl-delete" (click)="$event.stopPropagation()"
                    (click)="selectDetail(i, row)">
              <mat-icon aria-label="Select" class="col-white">work</mat-icon>
            </button>
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="scheduleViolationColumns"></mat-header-row>
        <!-- <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row> -->
        <mat-row *matRowDef="let row; columns: scheduleViolationColumns;"
                 (click)="getRespondentNotificationsByScheduleViolationId(row.id)"
                 [style.cursor]="'pointer'" matRipple
                 [ngClass]="{'make-selected': row.id === scheduleViolationId}">
        </mat-row>
      </mat-table>
      <div *ngIf="!scheduleViolations" class="tbl-spinner">
        <mat-progress-spinner color="primary" [diameter]="40" mode="indeterminate">
        </mat-progress-spinner>
      </div>
      <div *ngIf="scheduleViolations" class="no-results"
           [style.display]="scheduleViolations.length == 0 ? '' : 'none'">
        No results
      </div>
      <mat-paginator #paginator
                     (page)="getScheduleViolationPageable($event)"
                     [length]="scheduleViolationLenght"
                     [pageIndex]="scheduleViolationIndex"
                     [pageSize]="scheduleViolationSize"
                     [pageSizeOptions]="[5, 10, 25, 100]">
      </mat-paginator>
    </div>
  </div>
  <div class="col-xl-8 col-lg-12">
    <div class="table-responsive">
      <div class="materialTableHeader">
        <div class="row">
          <div class="col-8">
            <ul class="header-buttons-left ms-0">
              <li class="dropdown">
                <h2>
                  <strong>Mailing list</strong></h2>
              </li>
              <li class="dropdown m-l-20">
                <label><i class="material-icons search-icon">search</i></label>
                <input placeholder="Search" type="text" name="search" #filter class="browser-default search-field"
                       aria-label="Search box">
              </li>
              <li>
                <div class="icon-button-demo m-l-10" [hidden]=!selection.hasValue()>
                  <button  mat-mini-fab color="warn" (click)="deleteOrActivate()" matTooltip="Удалить">
                    <mat-icon *ngIf="!showDeletedMode" class="col-white">delete</mat-icon>
                    <mat-icon *ngIf="showDeletedMode" class="col-white">restore_from_trash</mat-icon>
                  </button>
                  <button *ngIf="!showDeletedMode" mat-mini-fab color="primary" (click)="sendMessages()" matTooltip="Отправить">
                    <mat-icon class="col-white">send</mat-icon>
                  </button>
                </div>
              </li>
            </ul>
          </div>
          <div class="col-4">
            <ul class="header-buttons">
<!--              <li>-->
<!--                <div class="icon-button-demo">-->
<!--                  <button mat-mini-fab color="primary" (click)="refresh()" matTooltip="Обновить список">-->
<!--                    <mat-icon class="col-white">refresh</mat-icon>-->
<!--                  </button>-->
<!--                </div>-->
<!--              </li>-->
              <li>
                <div class="icon-button-demo">
                  <button mat-mini-fab color="primary" (click)="showDeleted()" matTooltip="{{showDeletedMode?'1':'2'}}">
                    <mat-icon *ngIf="!showDeletedMode" class="col-white">archive</mat-icon>
                    <mat-icon *ngIf="showDeletedMode" class="col-white">restore</mat-icon>
                  </button>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <mat-table #table [dataSource]="respondentNotifications" matSort class="mat-cell" style="width: 99%">
        <!-- Checkbox Column -->
        <ng-container matColumnDef="select" >
          <mat-header-cell *matHeaderCellDef [ngClass]="'tbl-col-width-per-6'">
            <mat-checkbox (change)="$event ? masterToggle() : null"
                          [checked]="selection.hasValue() && isAllSelected()"
                          [indeterminate]="selection.hasValue() && !isAllSelected()" [ngClass]="'tbl-checkbox'">
            </mat-checkbox>
          </mat-header-cell>
          <mat-cell *matCellDef="let row" [ngClass]="'tbl-col-width-per-6'">
            <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                          [checked]="selection.isSelected(row)" [ngClass]="'tbl-checkbox'">
            </mat-checkbox>
          </mat-cell>
        </ng-container>
        <!-- ID Column -->
        <ng-container matColumnDef="katoCode">
          <mat-header-cell *matHeaderCellDef>КАТО</mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.katoCode}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="binIin">
          <mat-header-cell *matHeaderCellDef>БИН</mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.binIin}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="respondentName">
          <mat-header-cell *matHeaderCellDef>Имена</mat-header-cell>
          <mat-cell *matCellDef="let row"> {{customCut(row.respondentName, 30)}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="email">
          <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>
          <mat-cell *matCellDef="let row"> {{customCut(row.email, 20)}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="telefonStr">
          <mat-header-cell *matHeaderCellDef>Телефон</mat-header-cell>
          <mat-cell *matCellDef="let row"> {{customCut(row.telefonStr, 10)}}</mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="respondentNotificationColumns"></mat-header-row>
        <!-- <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row> -->
        <mat-row *matRowDef="let row; columns: respondentNotificationColumns;" (click)="editCall(row)"
                 [style.cursor]="'pointer'" matRipple

        >
        </mat-row>
      </mat-table>
      <div *ngIf="!respondentNotifications" class="tbl-spinner">
        <mat-progress-spinner color="primary" [diameter]="40" mode="indeterminate">
        </mat-progress-spinner>
      </div>
      <div *ngIf="respondentNotifications" class="no-results"
           [style.display]="respondentNotifications.length == 0 ? '' : 'none'">
        No results
      </div>
      <mat-paginator #paginator
                     (page)="getRespondentNotificationPageable($event)"
                     [length]="respondentNotificationLength"
                     [pageIndex]="respondentNotificationIndex"
                     [pageSize]="respondentNotificationSize"
                     [pageSizeOptions]="[5, 10, 25, 100]">
      </mat-paginator>
    </div>
  </div>
</div>
