
.materialMailingTableHeader {
  padding: 10px 20px;
  -webkit-box-align: center;
  align-items: center;
  border-color: #e6e9ed;
  background-color: #ebebee;
  height: 70px;
  position: relative;

  .header-buttons {
    position: absolute;
    right: 5px;
    padding: 6px 8px 8px 8px;

    li {
      display: inline-block;
  }
}

  .header-buttons-left {
    position: absolute;
    list-style: none;
    padding-top: 3px;

    li {
      display: inline-block;
  }

    .searchbox {
      position: relative;
  }

    ::placeholder {
      color: rgba(0, 0, 0, 0.54);
  }

    .search-icon {
      position: absolute;
      top: 10px;
      padding-left: 10px;
      color: rgba(0, 0, 0, 0.54);
  }

    input.search-field {
      font-weight: 500;
      color: rgba(0, 0, 0, 0.54);
      border-radius: 25px;
      border: 0;
      height: 45px;
      padding: 8px 8px 8px 50px;
      width: 250px;
      background: #ffffff;
      transition: background 0.2s, width 0.2s;

      &:hover {
        background: #fffefe;
    }
  }
}

  h2 {
    margin: 0;
    font-size: 16px;
    font-weight: normal;
    color: #5b626b;
}
}

.make-selected {
  background-color: rgba(63, 81, 181, 0.8)
}


@media only screen and (max-width: 1200px) {

}
