<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title">Preventive Control</h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a href="#" onClick="return false;">
                <i class="fas fa-home"></i> Home</a>
            </li>
            <li class="breadcrumb-item active">Preventive Control</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="card">
      <mat-tab-group>
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon>email</mat-icon>
            MAILING
          </ng-template>
          <app-mailing></app-mailing>

        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon>perm_data_setting</mat-icon>
            SETTINGS
          </ng-template>
          <app-settings></app-settings>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon>perm_data_setting</mat-icon>
            SETTINGS MAILING ATTACH
          </ng-template>
          <app-mailing-attach-config></app-mailing-attach-config>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon>list</mat-icon>
            REPORT
          </ng-template>
          <app-report></app-report>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon>bug_report</mat-icon>
            LOG
          </ng-template>
          <app-log></app-log>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</section>

