<div style="width: 90%; margin: 40px auto 30pxn" fxLayout="row" fxLayoutAlign="space-between start">
  <div fxFlex="30" fxLayout="column" fxLayoutAlign="start start">
    <div style="width: 100%; margin: 20px 20px">
      <mat-form-field class="example-full-width mb-3">
        <mat-label>Дата начала</mat-label>
        <input [(ngModel)]="dateBefore" name="start-date" matInput [owlDateTimeTrigger]="date1" [owlDateTime]="date1" >
        <mat-icon matSuffix [owlDateTimeTrigger]="date1" class="date-icon">today</mat-icon>
        <owl-date-time #date1></owl-date-time>
      </mat-form-field>
    </div>
    <div style="width: 100%; margin: 10px 20px">
      <mat-form-field class="example-full-width mb-3">
        <mat-label>Дата конца</mat-label>
        <input [(ngModel)]="dateAfter" name="end-date" matInput [owlDateTimeTrigger]="date2" [owlDateTime]="date2">
        <mat-icon matSuffix [owlDateTimeTrigger]="date2" class="date-icon">today</mat-icon>
        <owl-date-time #date2></owl-date-time>
      </mat-form-field>
    </div>
    <div style="width: 100%; margin: 10px 20px">
      <mat-form-field class="example-full-width" appearance="legacy">
        <mat-label>Логин</mat-label>
        <input [(ngModel)]="username" name="username" style="font-size: medium;" matInput placeholder="" value="">
      </mat-form-field>
    </div>
    <div style="width: 100%; margin: 10px 20px">
      <mat-form-field class="example-full-width" appearance="legacy">
        <mat-label>Действие</mat-label>
        <input name="action" style="font-size: medium;" matInput placeholder="" value="">
      </mat-form-field>
    </div>
    <div style="width: 100%; margin: 10px 20px">
      <button (click)="getAllLogs()" mat-stroked-button style="display: inline-flex; font-size: x-large;">Показать</button>
    </div>
  </div>

  <div fxFlex="65">

    <table mat-table matSort style="width: 100%" [dataSource]="businessLogs" class="mat-elevation-z8 demo-table">
      <ng-container matColumnDef="section">
        <th mat-header-cell *matHeaderCellDef>Раздел</th>
        <td mat-cell *matCellDef="let element">{{element.section}}</td>
      </ng-container>

      <ng-container matColumnDef="actionDate">
        <th mat-header-cell *matHeaderCellDef>Дата и время</th>
        <td mat-cell *matCellDef="let element">{{element.actionDate}}</td>
      </ng-container>

      <ng-container matColumnDef="actionOwner">
        <th mat-header-cell *matHeaderCellDef>Логин</th>
        <td mat-cell *matCellDef="let element">{{element.actionOwner}}</td>
      </ng-container>

      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef>Действие</th>
        <td mat-cell *matCellDef="let element">{{element.type}}</td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>Описание</th>
        <td mat-cell *matCellDef="let element">{{element.description}}</td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="businessLogColumns"></tr>
      <tr
        mat-row
        (click)="businessLogRows.add(row)"
        [class.demo-row-is-clicked]="businessLogRows.has(row)"
        *matRowDef="let row; columns: businessLogColumns;"
      ></tr>

      <!-- Row shown when there is no matching data. -->
      <!--      <tr class="mat-row" *matNoDataRow>-->
      <!--        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>-->
      <!--      </tr>-->
    </table>

    <mat-paginator
      (page)="getAllLogs($event)"
      [pageSize]="pageSize"
      [pageIndex]="pageIndex"
      [length]="pageLength"
      [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
  </div>
</div>
