li {
  display: inline-block;
}

.searchbox {
  position: relative;
}

::placeholder {

  color: rgba(255, 254, 254);
}

.search-icon {
  margin: 10px 0;
  position: absolute;
  top: 10px;
  padding-left: 10px;
  color: rgba(255, 254, 254);
}
input.search-field {
  margin: 10px 0;
  font-weight: 500;
  color: rgba(255, 254, 254);
  border-radius: 25px;
  border: 0;
  height: 30px;
  padding: 8px 8px 8px 50px;
  width: 250px;
  background: #4a00e0;
  transition: background 0.2s, width 0.2s;
}
