.materialMailingTableHeader {
  padding: 10px 20px;
  -webkit-box-align: center;
  align-items: center;
  border-color: #e6e9ed;
  background-color: #ebebee;
  height: 70px;

  .header-buttons {
    position: absolute;
    left: 25%;
    padding: 15px 8px 8px 8px;

    li {
      display: inline-block;
    }
  }

  .header-buttons-left {
    position: absolute;
    list-style: none;
    padding-top: 3px;

    li {
      display: inline-block;
    }

    .searchbox {
      position: relative;
    }

    ::placeholder {
      color: rgba(0, 0, 0, 0.54);
    }

    .search-icon {
      position: absolute;
      top: 10px;
      padding-left: 10px;
      color: rgba(0, 0, 0, 0.54);
    }

    input.search-field {
      font-weight: 500;
      color: rgba(0, 0, 0, 0.54);
      border-radius: 25px;
      border: 0;
      height: 45px;
      padding: 8px 8px 8px 50px;
      width: 160px;
      background: #ffffff;
      transition: background 0.2s, width 0.2s;

      &:hover {
        background: #fffefe;
      }

      // &:focus {
      //   outline: none;
      //   width: 380px;
      //   color: #212121;
      //   &:hover {
      //     background: #f7f7f7;
      //   }
      // }
    }
  }

  h2 {
    margin: 0;
    font-size: 16px;
    font-weight: normal;
    color: #5b626b;
  }

}

mat-cell:last-of-type, mat-header-cell:last-of-type, mat-footer-cell:last-of-type {
   padding-right: 0;
}

mat-form-field flex{
  width: 75%;
}

.table-row {
  height: 30px !important;
}

.make-selected {
  background-color: rgba(63, 81, 181, 0.8)
}

.materialTableHeader, .materialMailingTableHeader {
  position: relative;
}


@media only screen and (max-width: 1200px) {
 //.materialTableHeader, .materialMailingTableHeader {
 //  position: relative;
 //}
}

